.error-div{
    margin-top: 3rem;
    text-align: center;
    height: 72.5vh;
}
.error-div h1{
    margin-bottom: 1rem;
    color: red;
}
.error-div h2{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
}