footer{
    background-color:#00356B;;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem 0;
}
footer p{
    font-size: 1.5rem;
}
@media screen and (max-width:450px) {
    footer p{
        font-size: 1.2rem;
    }
}