nav{
    height: 8vh;
    background-color:#00356B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    margin-left: 3rem;
}
.nav-menu{
    margin-right: 3rem;
}
.nav-logo img{
    width: 13rem;
}
.nav-menu ul{
    list-style: none;
    color: white;
    display: flex;
}
.nav-menu ul li{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
}
.nav-menu ul li:hover{
    color:orange;
    transition: .2s ease-in;
    text-decoration: underline;
}
a{
    color: inherit;
    text-decoration: none;
}
.active{
    color: orange;
}

@media screen and (max-width:768px) {
    .nav-logo img{
        width: 10rem;
    }   
}
@media screen and (max-width:450px) {
    .nav-logo{
        margin-left: 1rem;
    }
    .nav-menu{
        margin-right: 1rem;
    }
    .nav-logo img{
        width: 8rem;
    }
    .nav-menu ul li{
        font-size: 1.1rem;
    }   
}