.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}
.product{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    margin: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.product img{
    width: 20rem;
    height: 15rem;
    object-fit: contain;
}
.product-info{
    padding: 1rem;
}
.category{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.2);
    text-transform: uppercase;
}
.title{
    font-size: 1.5rem;
    padding: 1.3rem 0.5rem 1.3rem 0;
    font-weight: bold;
}
.price{
    font-size: 1.5rem;
    padding: 1rem 0.5rem 1rem 0;
    font-weight: 600;
    color: green;
}
.description{
    word-break: break-all;
}
.rating{
    padding: 0.5rem 0.5rem 0.5rem 0;
}
.rating i{
    color: orange;
}
.product:hover{
    box-shadow: 0 0 1.5rem gray;
}
.button-toggle-div{
    display: flex;
}
.button-toggle-div .confirm-btn{
    background-color: red;
    border: 0.1rem solid white;
}
.button-toggle-div .cancel-btn{
    background-color: green;
    border: 0.1rem solid white;
}
.button-toggle-div .confirm-btn:hover{
    transition: .2s ease;
    color: red;
    background-color: white;
    border: 0.1rem solid red;
}
.button-toggle-div .cancel-btn:hover{
    transition: .2s ease;
    color: green;
    background-color: white;
    border: 0.1rem solid green;
}
.button-div button{
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 0.1rem solid white;
}
.button-div .update-btn{
    background-color: orange;
    margin-bottom: 1rem;
}
.button-div .delete-btn{
    background-color: red;
}
.button-div .update-btn:hover{
    border: 0.1rem solid orange;
    transition: .3s ease-in;
    background-color: white;
    color: orange;
}
.button-div .delete-btn:hover{
    border: 0.1rem solid red;
    transition: .3s ease-in;
    background-color: white;
    color: red;
}


.fa-solid{
    font-size: 1.2rem;
    padding: 0 0.5rem;
}
@media screen and (max-width:768px) {
    .product{
        width:16rem;
    }
    .product img{
        width:16rem;
    }
    .add-to-cart-btn{
        font-size: 1.5rem;
        padding: 0.6rem 3rem;
    }
    .button-toggle-div button{
        font-size: 0.8rem;   
    }
}
@media screen and (max-width:450px) {
    .product{
        margin: 1rem;
        padding: 2rem 1rem;
    }
    .product img{
        height: 10rem;
    }
    .title{
        font-size: 1.3rem;
    }
    .price{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:350px) {
    .product{
        width: 15rem;
        padding: 1rem;
        border-radius: 0;
    }
    .product img{
        width: 15rem;
    }
    .title{
        font-size: 1.2rem;
    }
    .price{
        font-size: 1.1rem;
    }
    .add-to-cart-btn{
        font-size: 1.3rem;
    } 
}
